# PostgreSQL
POSTGRES_USER=keepr
POSTGRES_PASSWORD=<to change>
POSTGRES_DB=keepr

# Vault (dev mode)
VAULT_ROOT_TOKEN=dev-root-token

# RAG
GROQ_API_KEY=<key goes here>

# Auth
SECRET_KEY=<key goes here>
ALGORITHM=<to chenge>
ACCESS_TOKEN_EXPIRE_MINUTES=<to set>
REFRESH_TOKEN_EXPIRE_DAYS=<to set>